<!doctype html>
<html>
  <head>
        <link rel="stylesheet" href="/chat.css" type="text/css" media="all">
    <title>The Chatroom</title>
    </head>
    <body>
<!--???-->
<div class="row">
  <div class="span2">
  	<ul id="people" class="unstyled"></ul>
  </div>
  <div class="span4">
  	<ul id="msgs" class="unstyled">
  </div>
</div>
</div>
<!--???-->
<ul id="messages"></ul>
        <form action="">
             <input id="m" autocomplete="off" /><button>Send</button>
        </form>
<script src="/socket.io/socket.io.js"></script>
<script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script>

  $(function () {
    var socket = io();
    $('form').submit(function(){
      socket.emit('chat message', $('#m').val());
      $('#m').val('');
      return false;
    });

    socket.on('chat message', function(who, msg){
      $('#messages').append($('<li><strong>' + who + '</span></strong> says: ' + msg + '</li>'));
    });
    
    socket.on('enter', function() {
        $('#messages').append($('<li>').text('Someone has entered the chatroom'));
    })
    socket.on('leave', function() {
        $('#messages').append($('<li>').text('Someone left the chatroom'));
    });
    function myFunction(e) {
      var x = document.getElementById("typing");
      x.style.display = "none";
      if (x.style.display === "none" && e.which !== 13) {
        x.style.display = "block";
    } else {
        x.style.display = "none";
    }
  }
  $("#enter").click(function(){
			var name = $("#name").val();
			if (name != "") {
				socket.emit("enter", name);
				$("#login").detach();
				$("#chat").show();
				$("#msg").focus();
				ready = true;
			}
		});
  });
</script>


  </body>
</html>